.__main-container { 

  width: 100%;
  background-color: #ececec;
  min-height: 100vh;

  &.theme-dark {
    background-color: #282c34;
    color: #dadada;
    transition: 0.5s all;
  }

  &-inner {
    background-color: white;
    margin: 0px auto;
    max-width: 800px;
    padding: 20px;
    width: 100%;
  }
}

.theme-dark {
  .__main-container {
    &-inner {
      background-color: #40444d;
    }
  }
}