.__main-container { 

  width: 100%;

  &.theme-dark {
    background-color: #282c34;
    color: #dadada;
  }

  &-inner {
    margin: 0px auto;
    max-width: 800px;
    padding: 20px;
    width: 100%;      
  }
}
